.body {
    width: 8vw;
    height: 8vw;
    margin: auto;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.cardHover:hover {
    transform: scale(1.1);
}
.cardHover{
    transition: .3s;
}
.name {
    color: black;
    font-size: calc(.8em + .5vw);
    padding-bottom: 10px;
    padding-top: 30px;
}
@media (max-width: 720px) {
    .body {
        width: 22vw;
        height: 22vw;
    }
}
@media (min-width: 960px) {
    .body {
        width: 12vw;
        height: 12vw;
    }
    .name {
        font-size: calc(.6em + .5vw);
    }
}
@media (min-width: 1200px) {
    .body {
        width: 6vw;
        height: 6vw;
    }
    .name {
        font-size: calc(.4em + .5vw);
    }
}