.accent {
    background-color: var(--color-accent);
    padding: 40px;
    border-radius: 20px;
    font-size: calc(1rem + .6vw);
    margin: 0 40px;
    color: #41464b;
}
@media (max-width: 800px) {
    .accent {
        padding: 20px;
        margin: 0;
    }
}
