.break-column {
    flex-basis: 100%;
    width: 0;
}
.break {
    flex-basis: 100%;
    height: 0;
}
.convas {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.eggsLt {
    display: flex;
    justify-content: start;
    color: red;
    flex-direction: row;
}
.eggsLb {
    display: flex;
    justify-content: start;
    color: red;
    flex-direction: row;
}
.eggsRt {
    display: flex;
    justify-content: end;
    color: #4c7ac2;
    flex-direction: row-reverse;
}
.eggsRb {
    display: flex;
    justify-content: end;
    color: #4c7ac2;
    flex-direction: row-reverse;
}
.wolf {
    width: 40%;
}