.logo {
    margin: 20px 0;
}
.logo img {
    padding-top: 5vh;
    padding-bottom: 5vh;
}
@media (max-width: 800px) {
    .logo {
        margin: 10px;
    }
    .logo img {
        width: 80%;
        padding-top: 5vh;
        padding-bottom: 5vh;
    }
}
.CardsButtons {
    justify-content: left;
    flex-wrap: wrap;
}
