.logo {
    margin: 10px 0 40px 0;
}
.logo img {
    padding-top: 40px;
    padding-bottom: 40px;
}
.sublogo {
    font-size: calc(.5rem + .5vw);
    margin-top: -30px;
    font-weight: 500;
}
.rowheader {
    padding: 0 30px;
    /*margin-left: -30px;*/
    /*margin-right: -30px;*/
    --bs-gutter-x: 1.5rem;
    --bs-gutter-y: 0;
    display: flex;
    flex-wrap: wrap;
    margin-top: calc(-1 * var(--bs-gutter-y));
}
@media (max-width: 720px) {
    .mobileMainBody {
        padding: 30px;
    }
    .logo {
        margin: 10px;
    }
    .logo img {
        width: 80%;
        padding-top: 40px;
        padding-bottom: 40px;
    }
    .sublogo {
        margin-top: -30px;
    }
}
.CardsButtons {
    justify-content: left;
    flex-wrap: wrap;
}
