.description {
    border-radius: 20px;
    padding: 0 40px;
}
.body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.description>p {
    text-align: left;
    font-size: calc(1rem + .6vw);
}
.item {
    width: 70%;
}
.item>img {
    width: 100%;
}
.item:first-child {
    width: 30%;
}

@media (max-width: 800px) {
    .img {
        width: 100%;
    }
    .item {
        width: 100%;
        /*min-width: 400px;*/
    }
    .item:first-child {
        width: 100%;
    }
    .item>img {
        width: 70%;
        padding: 0 0 30px 0;
    }
}
