.accordion-button:not(.collapsed) {
    color: dimgray;
    background-color: #ffffff96;
    box-shadow: inset 0 -1px 0 rgb(0 0 0 / 13%);
}

.accordion-button {
    background-color: #fff0;
}

.accordion-item {
    background-color: #fff0;
    border: 1px solid rgba(0,0,0,.125);
}
