.img {
    width: 200px;;
}
.description {
    border-radius: 20px;
    padding: 0px 40px;
}
.body {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.description>p {
    text-align: left;
}
@media (max-width: 700px) {
    .img {
        width: 100%;
    }
}