a {
  text-decoration: none;
}
.App {
  text-align: center;
  max-width: 800px;
  color: white;
  background-color: rgba(0, 0, 0, 0.34);
  padding-left: 40px;
  padding-right: 40px;
}
.CardsButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.CopyRight {
  margin: 40px;
  color: #b9b9b9;
  font-size: 14px;
}
.CopyRight>a {
  color: #b9b9b9;
}

.App-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

