body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a {
  text-decoration: none;
}
.App {
  text-align: center;
  color: white;
  background-color: rgba(0, 0, 0, 0.34);
  padding: 40px;
  border-radius: 40px;
}
@media (max-width: 700px) {
  .App {
    padding: 20px;
  }
  body {
    background-position: 20%;
  }
}
.CardsButtons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.CopyRight {
  margin: 40px;
  color: #b9b9b9;
  font-size: 14px;
}
.CopyRight>a {
  color: #b9b9b9;
}

.App-header {
  /*min-height: 80vh;*/
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
}

