h1, h2, h3, h4, h5 {
  font-weight: 300;
  letter-spacing: 1px;
}
.text-center {
 text-align: center!important;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 200;
  letter-spacing: 1px;
  background-attachment: fixed;
}
a {
  text-decoration: none;
  color: white;
}
.link {
  padding-bottom: 3px;
  box-shadow: 0 4px 4px -4px white;
}
.App {
  /* Rectangle 44 */
  background: rgba(255, 255, 255, 0.16);
  backdrop-filter: blur(21px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 44px;
}
.App>p {
  text-align: left;
}
@media (max-width: 700px) {
  .App {
    padding: 20px;
    border-radius: 0;
    background-color: rgba(185, 185, 185, 0);
  }
  body {
    background-position: 100%;
    background-size: auto!important;
  }
}
.CardsButtons {
  /* display: flex; */
  justify-content: center;
  flex-wrap: wrap;
}
.CopyRight {
  margin: 40px;
  color: #494D4E;
  font-size: 14px;
}
.CopyRight>a {
  color: #494D4E;
}
/*Стили кнопок*/
.button {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  background-color: #019ec7;
  font-size: 20px;
  color: white;
}

/*Оформление текста*/
.accent {
  background-color: #c10865;
  padding: 20px;
  border-radius: 20px;
  font-size: 20px;
  margin: 40px 0px;
}