/*Глобальные переменные*/
:root {
  --color-primary: #4c7ac2;
  --color-primary-10: #4c7ac217;
  --color-blue: #019ec7;
  --color-blue-light: #bee5f9;
  --color-accent: #c10865;
  --color-warning: #ffc105;
}
h1, h2, h3, h4, h5 {
  font-weight: 200;
  letter-spacing: 1px;
  text-transform: uppercase;
}
h1 {
  font-size: calc(2.3rem + .6vw);
  font-weight: 300;
}
h1>p {
  font-size: calc(0.8rem + .3vw);
  text-transform: uppercase;
}
h2 {
  font-size: calc(1.7rem + .6vw);
}
h3 {
  font-size: calc(1.3rem + .6vw);
}
.text-center {
 text-align: center!important;
}
#root {
  display: flex;
  flex-direction: column;
  padding-left: 10%;
  padding-right: 10%;
  margin-left: auto;
  margin-right: auto;
}
.main {
  padding: 0 30px;
  margin-top: 190px;
}
.scroll_head {
  background-color: #bee5f9cc;
  transition: .5s;
}
.scroll_head #logo_head {
  padding: 0!important;
  margin-bottom: -23px;
  transition: .5s;
}
.scroll_head p {
  display: none;
}
.scroll_head #enter_icon{
  margin-top: 0!important;
}
.scroll_head #home_icon{
  margin-top: 0!important;
}
.rowheader {
  padding: 0 30px;
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-top: calc(-1 * var(--bs-gutter-y));
  position: fixed;
  z-index: 1000;
  top: 0;
  left: 0;
  width: 100%;
  backdrop-filter: blur(7px);
  transition: .5s;
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  font-weight: 200;
  font-size: calc(1rem + .6vw);
  letter-spacing: 1px;
  background-attachment: fixed;
  overflow: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
::-webkit-scrollbar {
  width: 0;
  height: 0;
}
a {
  text-decoration: none;
  color: var(--color-primary);
}
.link {
  padding-bottom: 3px;
  box-shadow: 0 4px 1px -4px black;
}
.App {
  padding: 0 60px;
  min-height: 100vh;
}
.App>p {
  text-align: left;
}
@media (max-width: 1200px) {
  #root {
    padding-left: 0;
    padding-right: 0;
  }
  h1 {
    padding: 20px 0 20px 0;
  }
}
@media (max-width: 720px) {
  .App {
    padding: 0;
  }
  .carousel-indicators {
    display: none;
  }
  .carousel-control-next, .carousel-control-prev {
    top: 0!important;
    bottom: 100%;
  }
  .main {
    margin-top: 140px;
  }
  .nav {
    background: var(--color-blue-light)!important;
  }
  .scroll_head #logo_head {
    margin-bottom: 0;
    width: 60%;
  }
  .carousel {
    margin-top: -80px;
  }
  .carousel-caption {
    padding-bottom: 0;
  }
  .carousel-item img {
    /*margin-top: -30px;*/
  }
}
.CopyRight {
  margin: 40px;
  color: var(--color-blue);
  font-size: 10px;
  position: revert;
}

/*Карусель bootstrap*/
.carousel-caption {
  border-radius: 15px;
  width: 100%;
  margin-left: -15%;
  position: relative;
  bottom: 0;
}
.carousel-indicators {
  top: -30px;
}
.carousel-control-next, .carousel-control-prev {
  top: -120px;
  bottom: 100%;
}
/* Конец - Карусель bootstrap*/
.btn-primary {
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border: 0;
  background-color: var(--color-blue);
  font-size: 20px;
  color: white;
}
.btn-primary:hover {
  background-color: var(--color-primary);
}
.btn-primary:focus {
  background-color: var(--color-primary);
}
.anim-appear {
  opacity: 0.01;
}

.anim-appear.anim-appear-active{
  opacity: 2;
  transition: opacity .5s ease-in-out;
}
.nav-link {
  color: var(--color-primary);
}

.nav-tabs .nav-link {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  font-weight: 200;
}
.nav {
  justify-content: center;
  background-color: white;
  margin-left: -30px;
  margin-right: -30px;
  background: linear-gradient(to right, rgba(255, 255, 255, 0), #fff, rgba(255, 255, 255, 0));
}
.nav-tabs .nav-link.active {
  color: var(--color-primary);
  /*background-color: var(--color-primary-10);*/
  border-color: var(--color-primary-10) var(--color-primary-10) #4c7ac2;
}
.nav-tabs .nav-link:hover {
  border-color: var(--color-primary-10) var(--color-primary-10) #4c7ac2;
}
.nav-tabs {
  border-bottom: 3px solid var(--color-primary-10);
}